{% extends "index.html" %}
{% block header %}
<div id="header">
  <div class="headtitle">Página about</div>
  {% if logged %}
  <li>Hola {{ username }}<a href="http://127.0.0.1:8000/logout">LOGOUT</a></li>
  {% else %}
  <li>Inicia sesión</li>
  <p>
    <form action="" method="post" action="/login">{% csrf_token %}
      <table>
        Usuario:
          <input type="text" name="Usuario" value ="{{ form.username }}"><br>{{ form.username }}
        Contraseña:
          <input type="text" name="Password" value ="{{ form.password }}"><br>{{ form.password }}

      </table>
      <input type="submit" value="login" />
    </form>
  </p>
  {% endif %}
</div>
{% endblock header%}

{% block content %}
<div id="content">
  <div id="insidecontent"> <br>
    <h1>Página principal</h1>
      <p>127.0.0.1:8000/ : Muestra los 10 hoteles más comentados y las páginas de usuarios.</p>
    <h1>Página de alojamientos</h1>
      <p>127.0.0.1:8000/alojamientos : Muestra una lista de todos los alojamientos donde podemos
        filtrar según su categoria y subcategoria.</p>
    <h1>Página de alojamiento individual</h1>
      <p>127.0.0.1:8000/alojamientos/identificador : Muestra toda la información sobre un alojamiento particular.
      Dependiendo si estas logeado o no podremos añadir el alojamiento a favorito y escribir un comentario</p>
      <h1>Página de usuario</h1>
        <p>127.0.0.1:8000/usuario : Muestra la informacion sobre los alojamientos que un usuario ha seleccionado
        como favorito.</p>

    </div>
    <div style="clear: both;"></div>
  </div>

{% endblock content %}
