{% extends "plantilla_index.html" %}
{%block right%}
<div id="right">
</div>
{% endblock right %}
{% block content %}
<div id="content">
    <form action="/alojamientos" method="POST">

      {% csrf_token %}
      {{form}}
    <select name="filt"><option value="" >- selecciona -</option>
      <option value="hoteles">Hoteles</option>
      <option value="Apartahoteles">Apartahoteles</option>
      <option value="Hostales">Hostales</option>
      <option value="Residencias universitarias">Residencias Universitarias</option>
      <option value="Albergues">Albergues</option>
      <option value="Camping">Camping</option>
      <option value="Pensiones">Pensiones</option>
    </select>
      <select id="estrellas" name="estrellas">
        <option value="" >- seleccciona -</option>
        <optgroup label="Estrellas">
          <option value="1 estrella">1 Estrella</option>
          <option value="2 estrellas">2 Estrellas</option>
          <option value="3 estrellas">3 Estrellas</option>
          <option value="4 estrellas">4 Estrellas</option>
          <option value="5 estrellas">5 Estrellas</option>
          <option value="5 estrellas Gran Lujo">5 Estrellas Gran Lujo</option>
      </optgroup>
      <optgroup label="Llaves">
        <option value="1 llave" >1 Llave</option>
        <option value="2 llaves">2 Llaves</option>
        <option value="3 llaves">3 Llaves</option>
        <option value="4 llaves">4 Llaves</option>
      </optgroup>
      </select>
   <br><input type="submit" value="Filtrar">
    </form>
<h1>Listado de alojamientos</h1>
          <p>
            {% for hoteles in hoteles %}
              <li>
                Nombre: <a href="http://127.0.0.1:8000/alojamientos/{{ hoteles.id }}">{{ hoteles.Nombre }} </a><br>
                Dirección: {{ hoteles.direccion }}<br>
                Web: <a href ="{{ hoteles.url_hotel }}">{{ hoteles.url_hotel }}</a><br>
                Categoria : {{hoteles.categoria}} con {{hoteles.estrellas}}<br><br>

              </li>
            {% endfor %}
            <br><br>
	        </p>
        </div>
        <div style="clear: both;"></div>
      </div>

{% endblock content %}
