{% extends "index.html" %}
{% block header %}
  <div id="header">
    <h2>¡Alojamientos Madrid!</h2>

    {% if logged %}
    Hola {{ username }} <a href="http://127.0.0.1:8000/logout">LOGOUT</a>
    {% else %}
    Inicia sesión : <a href="http://127.0.0.1:8000/login">LOGIN</a>
    {% endif %}
  </div>
{% endblock header%}

{%block right%}
<div id="right">
  <h2> Paginas de usuarios: </h2>
  <p>
    {% for user,titulo in users %}
    <a href="http://127.0.0.1:8000/{{user}}">{{titulo|striptags|safe}}</a><br/>
    {% endfor %}
    <br><br>
  </p>
</div>
  {%endblock right%}

{% block content %}
<div id="content">
  <h1> Hoteles más comentados </h1>
  <ul class = "indexlist">
    {% for hoteles,url in hoteles %}
      <div class="10hoteles"</div>
          <item>
            <div class="hoteles">
              <a href="{{hoteles.url_hotel}}"><h2><strong>{{hoteles.Nombre}}</strong></h2></a>
              <strong>Situado en: </strong>{{hoteles.direccion}}<br/>
            </div>
            {% ifnotequal url "" %}
              <img src="{{url}}"alt=""width="280" height="200"><br/>
            {% endifnotequal %}
            <blockquote class="go">
              <a href="/alojamientos/{{hoteles.id}}">Mas informacion</a>
            </blockquote>
          </item>
        <hr class="separator">
      </div>
      {% empty %}
        No hay hoteles con comentarios <br/>
    {% endfor %}
    </ul>

    {% if logged %}
    <h1><a href="/rss">Canal RSS</a></h1>
    {%endif%}
</div>
{% endblock content %}
